<div class="container">
  <div class="row no-gutters justify-content-center align-items-center">
    <div class="col-lg-12 text-center m-0">
      <h1>La francophonie</h1>
    </div>
    <div class="col-lg-12 m-0 text-center">
      <img id="world-img" src="../assets/img/world-no-shadow.png" alt="" class="mx-auto d-block">
    </div>
    <div class="col-lg-12 text-center m-0">
      <h1>dans le monde</h1>
    </div>
    <div class="col-lg-12 text-center m-0">
      <button type="button" class="btn btn-primary"><i class="fas fa-map"></i> voir la carte</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>