/* You can add global styles to this file, and also import other style files */
$background: #222f3e;


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: $background;
}