/* You can add global styles to this file, and also import other style files */
$background: #222f3e;


* {
    margin: 0;
    overflow: hidden;
}

body {
    background-color: $background;
    width: 100vw;
    height: 100vh;
}